body{
    font-family: Century;
    background-color:lightslategray;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
.containl{
    width: 380px;
    margin: 5%;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 15px #333;
}
.headyy{
    text-align: center;
    padding-top: 75px;
}
.headyy h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 80px;
}
.maint{
    text-align: center;
}
.maint input, button{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}
.maint button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
}
.maint  button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #7799d4;
}
.maint input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}
.maint span{
    position: relative;
}
.maint span i{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
#check{
    width: 30px;
    height: 20px;
}
.maint a{
    color: #fff;
    font-weight: bold;
}